### Specify beams
Beams:idA = 2212
Beams:idB = 2212            
Beams:eCM = 13600.

ParticleDecays:limitTau0 = on
ParticleDecays:tau0Max = 10.

### processes: c-cbar and b-bbar processes
SoftQCD:inelastic = on

# default: do nothing, Monash 2013 will do its thing
Tune:pp = 14
